doctype html
html
  head
    title Relatório
  body
    h1 Relatório do Projeto de Ruas de Braga
    p Data de entrega: 2023-06-24 
    p UC: Engenharia Web - 2023
    p O projeto foi desenvolvido pelos seguintes elementos:
    p 
      ul
        li
          a(href="https://github.com/0HenriqueFernandes0") 0HenriqueFernandes0
        li 
          a(href="https://github.com/joaocasr") joaocasr 
        li 
          a(href="https://github.com/Cavalex") Cavalex
