doctype html

html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(rel='icon', href='/images/favicon-32x32.png')
		link(rel='stylesheet', type='text/css', href='/stylesheets/w3.css')
		script(src='/javascripts/jquery-3.6.4.min.js')
		script(src='/javascripts/jquery.modal.min.js')
		link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
		script(src='/javascripts/desc.js')
		script(src='/javascripts/add.js')
		title Braga Street View
<!-- body.w3-light-grey(style="min-height:100vh; display:flex; flex-direction:column;")-->
		body
			block content
