extends layout

block content
	.w3-top
		.w3-bar.w3-black.w3-card(style="height:100%;")
			p.w3-bar-item.w3-padding-large(style="font-size:16px;") BRAGA STREET VIEW
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/ruas" ) HOME
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/") LOGIN
	.w3-row
			.w3-card-4(style="margin-top:80px;margin-left: 80px;width:50%;height: 800px;")
				.w3-display-container.w3-center
						.row.align-items-center.justify-content-center(style="padding:10px;")
						.text-center.mb-5
							h3.text-uppercase
								u REGISTER 
								p Braga Street View
							form.w3-container(action="/register" method="POST" enctype="multipart/form-data")
								label(style="margin-left: -600px;") Username
								input.w3-input.w3-panel.w3-round.w3-light-grey(style="height:40px;width:400px;margin-left:45px;" type="text" placeholder="your-username" name="username")
								label(style="margin-left: -600px;") Password
								input.w3-input.w3-panel.w3-round.w3-light-grey(style="height:40px;width:400px;margin-left:45px;" type="password" placeholder="your-password" name="password")
								label(style="margin-left: -600px;") Email
								input.w3-input.w3-panel.w3-round.w3-light-grey(style="height:40px;width:400px;margin-left:45px;" type="text" placeholder="your-email@gmail.com" name="email")
								label(style="margin-left: -600px;") Nome
								input.w3-input.w3-panel.w3-round.w3-light-grey(style="height:40px;width:400px;margin-left:45px;" type="text" placeholder="your-name" name="name")
								label(style="margin-left: -600px;") Role
								<br>
									label.radio-inline(style="margin-left: -320px;")
										input(type="radio" name="role" value="admin")
										| Administrador 
									label.radio-inline
										input(type="radio" name="role" value="producer")
										| Produtor 
									label.radio-inline
										input(type="radio",name="role" value="consumer")
										| Consumidor
								<br>
								label(style="margin-left: -440px;") Selecione imagem de perfil
								input.w3-input.w3-border.w3-round.w3-margin-w3-light-grey(style="height:40px;width:400px;margin-left:45px;" type="file" name="myphoto")
								button.w3-button.w3-round.w3-brown(type="submit" style="height:50px;width: 400px;margin-top: 40px;" value="Send") Register

	footer.w3-center.w3-black.w3-padding-16.w3-container(style="margin-top: auto; width:100%;")
		a(href="/creditos") Creditos
		p ©2023 All Rights Reserved

