extends layout

block content
    head
        title Braga Street View
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='icon' href='public/images/favicon-32x32.png')
        link(rel='stylesheet' href='public/stylesheets/w3.css')
        script(src='/javascripts/add.js')
    .w3-top
        .w3-bar.w3-black.w3-card(style='height:100%;')
            p.w3-bar-item.w3-padding-large(style='font-size: 16px;') BRAGA STREET VIEW
            p
                a.w3-bar-item.w3-button.w3-padding-large(href='#') HOME
            p
            a.w3-bar-item.w3-button.w3-padding-large(href='#login') LOGIN
    .w3-card-4(style='max-width:1564px; margin-top:100px; margin-left: 10%; margin-right: 10%;')
        header.w3-container
            h2.w3-center Nova Rua
        form.w3-container.w3-center(method='POST')
            fieldset
                legend Nome da Rua
                input#nomeRua(type='w3-input w3-round' name='nome')
                br
                br
            fieldset
                legend Casas da Rua
                div(style='display:flex; justify-content:center;')
                    div
                        table#casasTabela
                            thead
                                tr
                                th Descri&ccedil;&atilde;o
                                th Enfiteuta
                                th Foro
                                th Data
                                th Numero da Porta
                            tbody
                                tr
                                td
                                    input(type='text' name='descricao')
                                td
                                    input(type='text' name='enfiteuta')
                                td
                                    input(type='text' name='foro')
                                td
                                    input(type='number' name='data_casa')
                                td
                                    input(type='number' name='numero')
                        button.w3-btn.w3-black.w3-mb-2(style='margin:10px;' type='button' onclick='addRowCasa()') Adicionar Casa
            fieldset
                legend Lugares Relacionados
                div(style='display:flex; justify-content:center;')
                    div
                        table#lugaresTabela
                            thead
                                tr
                                th Texto
                                th Lugar
                                th Tipo
                                // Se houver lugar E tipo, então passa a ser uma entidade, não é preciso meter os 2 inputs
                                th Data
                            tbody
                                tr
                                    td
                                        input(type='text' name='texto')
                                    td
                                        input(type='text' name='lugar')
                                    td
                                        select#tipo(name='tipo' style='width: 203px;')
                                            option(value='') Nenhuma op&ccedil;&atilde;o
                                            option(value='pessoa') pessoa
                                            option(value='inst') institui&ccedil;&atilde;o
                                            option(value='inst') fam&iacute;lia
                                    td
                                        input(type='number' name='data' value='2023')
                        button.w3-btn.w3-black.w3-mb-2(style='margin:10px;' type='button' onclick='addRowLugar()') Adicionar Lugar
            br
            button.w3-btn.w3-black.w3-mb-2(type='submit' style='margin-bottom:10px;') Guardar
    footer.w3-center.w3-black.w3-padding-16.w3-container(style='margin-top: auto; width:100%;')
        p Made by EngWeb2023 Group XX
        p &copy;2023 All Rights Reserved.
