extends layout

block content
	.w3-top
		.w3-bar.w3-black.w3-card(style="height:100%;")
			p.w3-bar-item.w3-padding-large(style="font-size:16px;") BRAGA STREET VIEW
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="#" ) HOME
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="#login") LOGIN

	header.w3-display-container.w3-content.w3-wide(style="max-width:1540px;",id="home")
		img.w3-image(src="/images/bom_jesus.jpg",alt="Bom Jesus",width="1540px",height="800px")
		.w3-display-middle.w3-margin-top.w3-center(style="bottom: 800px;")
			h1.w3-xxlarge.w3-text-white
				span.w3-padding.w3-black.w3-opacity-min Mapa Virtual de Braga

	.w3-content.w3-padding(style="max-width:1564px")
		.w3-container.w3-padding-32(id="ruas")
			h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 Ruas de Braga
			p O portal Braga Street View será o guia que o irá acompanhar na descoberta da história e do lugares mais emblemáticos da cidade de Braga. Nele poderá explorar um conjunto alargados de ruas Bracarenses e consultar informações detalhadas sobre vários locais da cidade que será considerada a Capital Portuguesa da Cultura em 2025. Aproveite para conhecer a história rica desta cidade e apreciar a sua beleza arquitetônica através desta experiência única.
		
		- var n = 0
		each street in streets
			if n % 4 == 0
				- n = 0		
				.w3-row-padding
			if n < 4
					.w3-col.l3.m6.w3-margin-bottom
						.w3-display-container
							.w3-display-topleft.w3-black.w3-padding 
								a(href="/ruas/"+street._id) #{street.nome}
							img(src="/images/dados/materialBase/atual/"+ street.nome +"-Vista1.JPG",alt="House", style="width:100%;height:400px;object-fit: cover;")
			- n = n+1
	
	footer.w3-center.w3-black.w3-padding-16.w3-container(style="margin-top: auto; width:100%;")
		p Made by Group XX - EngWeb2023
		p ©2023 All Rights Reserved