doctype html

html(lang='en')
	head
		meta(charset='utf-8')
		link(rel='icon', href='/images/favicon.ico')
		link(rel='stylesheet', type='text/css', href='stylesheets/w3.css')
		title Mapa de Braga
	body.w3-light-grey(style="min-height:100vh; display:flex; flex-direction:column;")
		block content
