extends layout

block content
	.w3-top
		.w3-bar.w3-black.w3-card(style="height:100%;")
			p.w3-bar-item.w3-padding-large(style="font-size:16px;") BRAGA STREET VIEW
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/ruas" ) HOME
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/") LOGIN
				
	.w3-row
		.w3-col.w3-container.m5.l4(style="height: 100vh;background-image: url('/images/bom_jesus.jpg');")
		.w3-col.w3-container.m7.l8
			.w3-card-4(style="margin-top:110px;margin-left: 80px;width:50%;height: 600px;")
					.w3-display-container.w3-center
						.row.align-items-center.justify-content-center(style="padding:30px;")
						.text-center.mb-5
							h3.text-uppercase
								u LOGIN 
								p Braga Street View
							form.w3-container(action="/" method="POST")
								label(style="margin-left: -300px;") Username
								input.w3-input.w3-panel.w3-round.w3-light-grey(style="height:40px;width:400px;margin-left:45px;" type="text" placeholder="your-username" name="username")
								label(style="margin-left: -300px;") Password
								input.w3-input.w3-panel.w3-round.w3-light-grey(style="height:40px;width:400px;margin-left:45px;" type="password" placeholder="your-password" name="password")
								if(message)
									p(style="color:red;") #{message}
								button.w3-button.w3-round.w3-brown(type="submit" style="height:50px;width: 400px;margin-top: 40px;") Login
								p Criar uma conta? 
									a(href="/register" style="color: #4272d7;") Sign Up

	footer.w3-center.w3-black.w3-padding-16.w3-container(style="margin-top: auto; width:100%;")
		p Made by Group XX - EngWeb2023
		p ©2023 All Rights Reserved
